
body{
	background: #111;
}

@media screen and (min-width: 990px){
h1.top{
	
	font-family: Impact, Charcoal, sans-serif;
	user-select: none;
	color: white;
	padding-left: 28rem;
	font-size: 3rem;
	margin-top: 10px;
}
.bar{
	height: 100px;
	border-bottom:3px gray solid;
	display:flex;
	justify-content: left;
}
.logo{
	height:90px;
	border-radius: 50%;
}
.sem{
	display:flex;
	border-bottom: 3px solid white;
}
.books{
	height:120px;
	padding-right:30px;
}
h2.semtitle{
	color:white;
}
/*end of computer screen */
}

@media screen and (max-width: 990px){

.bar{
	display:flex;
	justify-content: center;
	align-content: columns;
	height:80px;
}
.logo{
	height:100%;
	border-radius: 50%;
}
h1.top{
	font-family: Impact, Charcoal, sans-serif;
	padding-right:100px;
	color:white;
}
.sem{
	display:flex;
	border-bottom: 3px solid white;
}
.books{
	height:120px;
	padding-right:30px;
}
h2.semtitle{
	color:white;
}
/*End of mobile screen*/
}