@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Yanone+Kaffeesatz:wght@600&display=swap");
body {
  padding: 0;
  margin: 0;
  background: #232931;
}
.bar {
  padding: 0;
  margin: 0;
  background-color: #f73859;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.logo-img {
  padding-left: 20px;
}

h1.top {
  font-family: Impact, Charcoal, sans-serif;
  user-select: none;
  color: white;
  padding-left: 28rem;
  font-size: 3rem;
  margin-top: 10px;
}
.bar {
  height: 100px;
  border-bottom: 3px gray solid;
  display: flex;
  justify-content: left;
}
.logo {
  height: 90px;
  border-radius: 50%;
}
.sem {
  display: flex;
  border-bottom: 3px solid white;
}
.books {
  height: 120px;
  padding-right: 30px;
}
h2.semtitle {
  color: white;
}
/*end of computer screen */

@media screen and (max-width: 990px) {
  .bar {
    display: flex;
    height: 80px;
  }
  .logo {
    height: 80%;
    border-radius: 50%;
  }
  .logo-img {
    width: 30px;
  }
  h1.top {
    font-size: 30px;
    padding-left: 60px;
    font-family: "poppins", sans-serif;
    color: white;
  }
  .sem {
    display: flex;
    border-bottom: 3px solid white;
  }
  .books {
    height: 120px;
    padding-right: 30px;
  }
  h2.semtitle {
    color: white;
  }
  /*End of mobile screen*/
}
