

@media screen and (max-width: 992px) {
  ul.bar {
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    width: 100%;
  }
  li.star{
    border-bottom: 1px solid #bbb;
  }
  .logo{
    justify-content: center;
    background-color: black;
    border-bottom: 2px solid #bbb;
    height:100px;
  }
  img.logo-image{
      height:100%;
  }
  .notice-bar{
    margin-top:20rem;
  }
  .notice{
    padding-top:0.6rem;
  }
  .qr{
    padding-top:20px;
    margin-left: 20%;
    width:50%;
    text-align:right;
    opacity:100%;
  }
  .ol{
    padding-top: 98px;
  }
  
}
@media screen and (min-width: 992px){
  ul.bar{
  /*
  background-color: #dddddd;
  width:100%;
  text-align:center ;
  height:6ex;
  */
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    position: -webkit-sticky;
   position:sticky;
    top: 0;
    width: 100%;
  }
  img.logo-image{
    height:9%;
    width:9%;
  }
  .qr{
    margin-left:55%;
    position:right;
    width:29%;
    text-align:right;
    opacity:100%;
  }
}


.logo{
  display:flex;
  background-color: #111;
  padding:0;
  width:100%;
   border-bottom: 2px solid #bbb;
}
/*
img.logo-image{
  height:9%;
  width:9%;
}
*/

.selection{
  user-select: none;
}
.bu{
  color:white;
  margin-left:1ex;
  margin-right: 1ex;
  font-size:25px;
}

.bu:hover{
  color:#4CAF50;
}

.back{
  opacity:80%;
}
h1{
  opacity:100%;
  font-size:9ex;
  border-radius: 30px;
}

h2{
  font-size:5ex;
}
h3.notice-bar{
  margin-left: 30px;
  user-select: none;
  width:80%;
}

li.star{
  display: block;
  float: left;
  padding: 8px;
  border-right: 1px solid #bbb;
  /*background-color: #111;*/
}

a.bar-value {
  display: block;
  padding: 15px;
  padding-bottom: 50px;

}


.top{
  background-image:url('https://www.hackchennai.in/images/illus.svg');
  background-attachment: fixed;
  opacity:100%;
}

.bca{
  margin-top:25px; 
  margin-left: 30px;
  width:80%;
}

.aboutback{
  margin-top:10%;
  border-radius: 50px;
  width:100%;
  height:20%;
  opacity:90%;
  background-color:black;
}

.heading{
 color:white;
  text-align:center;
  font-size:40px;
  
}


.or{ 
  user-select: none;
  color:cyan;
  text-align:center;
  font-size:3ex;
  padding-bottom: 20px;
}

body{
  
background-image: linear-gradient( 110deg ,cyan,lime,cyan);
font-family: 'Poppins', sans-serif;
font-weight: 500;
line-height: 1.4;
}
.o:hover{
  font-size:1ex;
  color:cyan;
  
}
.orr{
  user-select: none;
  margin:0;
  padding-top: 10px;
  font-size:6ex;
  color:pink;
  text-align:center;
  width:100%;
}

.o{
  margin-left:10%;
 color:white;
}
hr{
color:white;}

.content{
  background-color:;
  color:white;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  text-align:center;

}
.link{
 text-shadow:0 3px yellow;  font-family: candra;
  color:red;
  font-size: 3rem;
  padding: 2rem 0.5rem;

}

.link:hover{
  color:red;
  background-color:;
}
.team{
  margin-top:10%;
  color:white;
}
.card {
  box-shadow: 0 4px 8px 0 rgb(10, 250, 500);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: white;
  font-size: 18px;
}

  
button {
  border: none;
  outline: 1;
  display: inline-block;
  padding: 50ex;
  color: white;
  background-color: green;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a{
  text-decoration: none;
  font-size: 22px;
  color: white;
}

button:hover, a:hover {
  opacity: 0.7;
}
.team{
  font-size:30px;
}

.demo{
color:white;
font-size:20px;}
h1{
  color:green;
  text-shadow: 5px 0 black;
}
marquee{
  color:yellow;
  font-size:30px;  
 }

.links{
  background-color:;
border-style:solid;
border-left:none;
  border-right:none;
}
.contact{
  background-color:black;
  width:100%;
   margin:0;
  bottom:0;
    top: 100;
    left: 0;
  z-index: 10;
    width: 100%;
  
}
.hackathon{
  background-color:;
}
footer{background-color:purple;
  margin:0;
    bottom: 0;
    left: 0;
    width: 100%;
}

p{
 color:red;
}

.internal{
  margin-top:10%;
  margin-left:30%;
width:50%;}
button{
 margin-left:30%;
width:50%;
  border-style:solid;
  border-color:red;
  padding:20px;
}
button:hover{
color:green;
background-color:white;
border-color:cyan;}
h1{
  text-align:center;
  font-size:50px;
  margin-top:10%;
}

.speaker{
  margin-top:10%;
  height:42ex;
  background-color:white;
  border-style:solid;
  border-radius:10%;
  text-align:center;  
  width:40ex;
}
.circle{
  margin:2ex;
  border-radius:40%;
  width:50%;
 }

 img.circle2{
  padding-top: 40px;
  border-radius:50%;
  height:50%;
 }

a{
  text-decoration: none;
  font-size: 22px;
  color: white;
}

button:hover, a:hover {
  opacity: 0.7;
}
.team{
  font-size:30px;
}

.demo{
  color:white;
}

marquee{
  color:yellow;
  font-size:30px;  
 }

.links{
  background-color:;
  border-style:solid;
  border-left:none;
  border-right:none;
}

.contact{
  background-color:black;
  width:100%;
  margin:0;
  bottom:0;
  top: 100;
  left: 0;
  z-index: 10;
  width: 100%;
  
}
.hackathon{
  background-color:;
}
footer{background-color:purple;
  margin:0;
    bottom: 0;
    left: 0;
    width: 100%;

}
p{
 color:red;
}

.internal{
  margin-top:10%;
  margin-left:30%;
  width:50%;
}


button{
  margin-left:30%;
  width:50%;
  border-style:solid;
  border-color:red;
  padding:20px;
}

button:hover{
  color:green;
  background-color:white;
  border-color:cyan;
}

h1{
  text-align:center;
  font-size:50px;
  margin-top:10%;
}

.speaker{
  margin-top:10%;
  height:42ex;
  background-color:;
  border-style:solid;
  border-radius:10%;
  text-align:center;  
  width:40ex;
}
.circle{
  margin:2ex;
  border-radius:50%;
  width:50%;
 }

.form{
  margin-top:-34.8%;
  margin-left:33.3%;
  margin-bottom:-10%;
 }
.form2{
margin-top:-31%;
  margin-left:68%;
  margin-bottom:-10%;}

.foot{
  
  margin-left:0%;
  position:left;
  width:100%;
  opacity:80%;
  background-color:black;}

.demo{
  text-align:;
}

.speaker{
margin:0.8%;
  float:left;
  background-color:black;
  opacity:90%;
  border-color:white;
  border-width:0.5ex;
  }

.notice{
  
}
h3{color:yellow;
  font-size:5ex;
  text-align:center;
  border-radius: 30px;
}
h4{
  color:white;
  font-size:15px;
}

.notice{
  color:red;
}


.a{
  color:white;
  font-size:4ex;
}

h3{
  
  width:100%;
  background-color:black;
}
h1{
  background-color:black;
  color:yellow;
  width:100%;
  opacity:100%;
}
.ol{
  margin-top:-18%;
text-align:left;
position:left;
  font-size:3ex;
}
